<?xml version="1.0"?>

<robot name="m100_drone" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="drone_name" default="m100" />

  <xacro:include filename="$(find dji_drone_description)/urdf/_dji_m100.urdf.xacro" />

  <xacro:dji_m100  name="$(arg drone_name)">
  </xacro:dji_m100>

</robot>
